Front-End/Connected Services/ServiceReferenceBoleta/wsBoleta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ListarBoletaCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CodCLiente" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarBoletaClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarBoletaClienteResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarBoletaAnuladaCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CodCLiente" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarBoletaAnuladaClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarBoletaAnuladaClienteResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Agregar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codVendedor" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AgregarResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsultarVentaFecha">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="semana" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarVentaFechaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarVentaFechaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListarBoletaClienteSoapIn">
    <wsdl:part name="parameters" element="tns:ListarBoletaCliente" />
  </wsdl:message>
  <wsdl:message name="ListarBoletaClienteSoapOut">
    <wsdl:part name="parameters" element="tns:ListarBoletaClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ListarBoletaAnuladaClienteSoapIn">
    <wsdl:part name="parameters" element="tns:ListarBoletaAnuladaCliente" />
  </wsdl:message>
  <wsdl:message name="ListarBoletaAnuladaClienteSoapOut">
    <wsdl:part name="parameters" element="tns:ListarBoletaAnuladaClienteResponse" />
  </wsdl:message>
  <wsdl:message name="AgregarSoapIn">
    <wsdl:part name="parameters" element="tns:Agregar" />
  </wsdl:message>
  <wsdl:message name="AgregarSoapOut">
    <wsdl:part name="parameters" element="tns:AgregarResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarVentaFechaSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarVentaFecha" />
  </wsdl:message>
  <wsdl:message name="ConsultarVentaFechaSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarVentaFechaResponse" />
  </wsdl:message>
  <wsdl:portType name="wsBoletaSoap">
    <wsdl:operation name="ListarBoletaCliente">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Listar boletas por cliente</wsdl:documentation>
      <wsdl:input message="tns:ListarBoletaClienteSoapIn" />
      <wsdl:output message="tns:ListarBoletaClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarBoletaAnuladaCliente">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Listar boletas anuladas por cliente</wsdl:documentation>
      <wsdl:input message="tns:ListarBoletaAnuladaClienteSoapIn" />
      <wsdl:output message="tns:ListarBoletaAnuladaClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Agregar">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Agregar una Boleta</wsdl:documentation>
      <wsdl:input message="tns:AgregarSoapIn" />
      <wsdl:output message="tns:AgregarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarVentaFecha">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consultar Ventas por Fecha</wsdl:documentation>
      <wsdl:input message="tns:ConsultarVentaFechaSoapIn" />
      <wsdl:output message="tns:ConsultarVentaFechaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsBoletaSoap" type="tns:wsBoletaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarBoletaCliente">
      <soap:operation soapAction="http://tempuri.org/ListarBoletaCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarBoletaAnuladaCliente">
      <soap:operation soapAction="http://tempuri.org/ListarBoletaAnuladaCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Agregar">
      <soap:operation soapAction="http://tempuri.org/Agregar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarVentaFecha">
      <soap:operation soapAction="http://tempuri.org/ConsultarVentaFecha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsBoletaSoap12" type="tns:wsBoletaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarBoletaCliente">
      <soap12:operation soapAction="http://tempuri.org/ListarBoletaCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarBoletaAnuladaCliente">
      <soap12:operation soapAction="http://tempuri.org/ListarBoletaAnuladaCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Agregar">
      <soap12:operation soapAction="http://tempuri.org/Agregar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarVentaFecha">
      <soap12:operation soapAction="http://tempuri.org/ConsultarVentaFecha" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsBoleta">
    <wsdl:port name="wsBoletaSoap" binding="tns:wsBoletaSoap">
      <soap:address location="https://localhost:44372/wsBoleta.asmx" />
    </wsdl:port>
    <wsdl:port name="wsBoletaSoap12" binding="tns:wsBoletaSoap12">
      <soap12:address location="https://localhost:44372/wsBoleta.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>